<section class="signup-section">
  <h2 class="form-title">Welcome User!</h2>
  <%= form_with url: users_path , method: "post" , class: "user-from" do %>
    <div class="form-element">
      <p class="form-label">First Name :</p>
      <%= text_field_tag "first_name",nil,class: "input-item"%>
    </div>
    <div class="form-element">
      <p class="form-label">Last Name :</p>
      <%= text_field_tag "last_name",nil,class: "input-item"%>
    </div>
    <div class="form-element">
      <p class="form-label">Email :</p>
      <%= email_field_tag "email",nil,class: "input-item"%>
    </div>
    <div class="form-element">
      <p class="form-label">Password :</p>
      <%= password_field_tag "password",nil,class: "input-item"%>
    </div>
    <div class="form-element">
      <%= submit_tag "SignUp!", class: "form-button"%>
    </div>
  <% end %>
</section>
