<section class="todo-section">
  <div class="title-section">
    <h3 class="due-title"><%=section_title%></h3>
    <div class="task-count"><%=todos.completed.count%>/<%=todos.count%></div>
  </div>
  <div class="todos-list">
    <%todos.each do |todo|%>
    <div class="single-todo">
    <%= form_with(url: "/todos/#{todo.id}", method: "put") do%>
      <input
        type="checkbox"
        name="completed"
        class="todo-checkbox "
        onclick="this.form.submit()"
        <%= todo.completed ? "checked" : ""%>
      />
    <%end%>
    <label for="todo" class="todo-item <%= todo.completed ? "todo-complete" : ""%> ">
      <%=todo.todo_text%>
    </label>
    <%if show_duedate%>
      <span class="due-date"><%=todo.due_date.to_s(:short)%></span>
    <%end%>
    <a href="#"><i class="far fa-trash-alt"></i></a>
    </div>
    <%end%>
  </div>
</section>
